.team-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.team-card{
    border-radius: 15px;
    padding-top: 50px !important;
    padding-bottom: 30px !important;
    margin: 20px 40px !important;
    background-color: var(--primary);
}
.team-card h3{
    color: var(--secondary);
    font-weight: 700;
}
.team-card p{
    color: white;
}
.team-container{
    margin: auto 100px;
    margin-bottom: 20px !important;
}
.team-card .icon{
    font-size: 20px !important;
    margin-right: 10px;
}

@media screen and (max-width:768px) {
    .team-container{
        margin: auto 50px;
    }
}
@media screen and (max-width:425px) {
    .team-container img{
        border-radius: 50%;
        margin-bottom: 40px !important;
    }
    .team-container{
        margin: auto !important;
        margin-bottom: 0px !important;
    }
    .team-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px !important;
        margin: 20px 5px !important;
        background-color: var(--primary);
        min-height: 400px;
    }
}