
.mission .training-title{
    text-align: start !important;
    font-size: 28px;
}
.mission-text{
    padding-top: 5px;
    font-size: 18px;
}
.missions{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
    height: auto;
}
.mission{
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 20px 2px rgba(77, 77, 77, 0.3);
    align-self: stretch !important;
}
.vision{
    display: flex;
    height: auto;
}
.vision img{
    padding: 0px 20px;
    border-radius: 15px !important;
    height: 100%;
    align-self: stretch;
    position: relative;
    z-index: 3;

}
.styled-img{
    position: relative;
}
.styled-img img{
    border-radius: 15px !important;
}
/* .styled-img:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 20px;
    width: 80%;
    height: 80%;
    border: 5px solid var(--secondary);
} */

.vision-title{
    font-size: 25px;
    font-weight: 700;
    color: var(--secondary);
}


@media screen and (max-width:768px){
    
    .mission-text{
        font-size: 16px;
    }
    .missions{
        margin: 0 !important;
        margin-top: 20px !important;
        gap: 20px;
        padding-left: 0px !important;
        width: 100%;
        height: auto !important;
    }
    .mission{
        padding: 10px;
        border-radius: 10px;
        margin: 0 !important;
    }
    .vision img{
        transform: translateX(-5px);
        width: 100%;
        min-height: auto;
        height: auto;
        padding: 0 !important;
        margin: 0 !important;
    }
    .missions{
        height: auto !important;
        min-height: auto;
    }
    .vision img{
        padding: 0 !important;
        margin: 0 !important;
    }
    .vm{
     padding-right: 0px !important;
     margin-right: 0px !important;
    }
    
}
@media screen and (max-width:425px){
    .mission .training-title{
        text-align: start !important;
        font-size: 22px;
    }
    .mission-text{
        font-size: 14px;
    }
    .missions{
        margin-top: 20px;
        gap: 20px;
        padding-left: 0px !important;
        width: 100%;
        height: auto !important;
    }
    .mission{
        padding: 10px;
        border-radius: 10px;
    }
    .vision img{
        width: 100%;
        min-height: auto;
        height: auto;
        padding: 0 !important;
        margin: 0 !important;
    }
    
}

